.padding-top-20 {
  padding-top: 20px;
}

.grey {
  background-color: #353a34;
}

.red {
  background-color: #e54938;
}

.orange {
  background-color: #f28f06;
}

.yellow {
  background-color: #f3e600;
}

.lightgrey {
  background-color: #cfd2cf;
}
